@bgDeep: #011935;
@bgDeep2: #00343F;
@bgLight: #1dB0B8;
@bgLight2: #37c6c0;
@textBg:#D0E9FF;

.log-container{
    position: relative;
    padding-bottom: 20px;
    width:100vw;
    overflow: hidden;
    embed{
        width: 100%;
    }
    .log-list{
        overflow-y: scroll;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 102;
        transition: 1.5s;
        embed{
            background: white;
        }
        &.log-list-close{
            pointer-events: none;
            transform: translateY(-100vh);
            //top: -100vh;
        }
    }
}

.tmlog{    
    transition:all 1.5s;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    background: white;
    padding: 0 10%;
    position: relative;
    &:hover{
        cursor: pointer;
        h2{
            font-size:28px;
            color:@bgLight;
        }
    }
    &:last-child{
        border-bottom: 1px solid #e8e8e8;
    }
    .log-tags-icon{
        padding: 20px;
        padding-top:50px;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height:100px;
        margin-right: 20px;
    }
    .log-label{
        display: inline-block;
        vertical-align: top;
        width:80%;
        padding:20px;
        border-radius: 20px;
        overflow: hidden;
        .log-time{
            span{
                margin-right: 20px;
                &:nth-child(1){
                    color:gray;
                }
                &:nth-child(2){
                    color:@bgLight;
                }
                &:nth-child(3){
                    float:right;
                    visibility: hidden;
                }
            }
        }
        h2{
            font-size: 26px;
            position: relative;
        }
        p{
            font-size: 18px;
            text-indent: 2rem;
        }
    }
}

.open-log{
    width: 1000px;
    margin: auto;
    .log-bg{    
        background: center top;
        background-size: cover; 
        height: 400px;
        // width: 1100px;
        position: relative;
        margin-left: -50px;
        margin-right: -50px;
        top: 0;
        margin-bottom: 80px;
        .head{
            color: white;
            position: absolute;
            top: 0;
            width: 100%;
            padding: 30px 55px 30px 55px;
            text-align: center;
            span{
                display: inline-block;
                vertical-align: top;
                text-align: center;
                font-size: 30px;
                line-height: 40px;
                border-radius: 20px;
                &:first-child{
                    float: left;
                }
                &:last-child{
                    float: right;
                }
                &:hover{
                    cursor: pointer;
                }
                i{
                    background: rgba(172, 170, 170, 0.5);
                    padding: 10px 15px;
                    border-radius: 15px;
                }
            }
            embed{
                height: 40px;
            }
        }
        .zhezhao{
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6)
        }
        .bottom{
            position: absolute;
            bottom: 110px;
            margin: 0 55px;
            color: white;
            font-size: 20px;
            i{
                font-size: 30px;
                color: white;
                background: rgba(172, 170, 170, 0.5);
                padding: 10px;
                vertical-align: middle;
                border-radius: 50%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .log-title{
        margin: 30px 0;
       font-size: 36px;
       font-weight: 700;
       text-align: center;
    }
    img{
        max-width: 100%;
    }
    .log-label{
        margin-top: 110px;
        padding: 20px 30px 40px 30px;
        //box-shadow:  0 2px 20px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -200px;
        background: white;
        border-radius: 15px;
        z-index: 100;
        h2{
            text-align: center;
            font-weight: 700;
        }
        pre{
            color: white;
            background-color: #3E3E3E;
        }
        .desc{
            padding: 20px;
            border-bottom: 1px solid #e8e8e8;
            font-weight: 700;
            font-size: 18px;
            img{
                width: 64px;
                height: 64px;
                display: inline-block;
                border-radius: 15px;
                margin-right: 30px;
                box-shadow:  0 2px 20px rgba(0, 0, 0, 0.2);
            }
            span{
                background: rgba(238, 132, 62, 0.5);
                padding: 2px 5px;
                border-radius: 10px;
            }
            ul{
                display: inline-block;
                list-style: none;
                position: relative;
                top: 12px;
            }
        }
    }
}
@media screen and (max-width:1100px) {
    .open-log{
        width: 90%;
        .log-bg{
            width: 100vw;
            .head{
                span{
                    font-size: 20px;
                    line-height: 30px;
                    i{
                        padding: 5px 10px;
                        border-radius: 10px;
                    }
                }
                embed{
                    width: auto;
                    height: 30px;
                }
            }
        }
        .log-label{
            .desc{
                padding: 20px 0;
                img{
                    margin-right: 5px;
                }
                ul{
                    padding: 0;
                    li{
                        display: none;
                        &:last-child{
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .tmlog{
        width:100%;
        padding: 0;
        .log-tags-icon{
            display: none;
        }
        .log-label{
            padding:5%;
            width:100%;
            .log-time{
                span{
                    &:nth-child(3){
                        visibility: visible;
                    }
                }
            }
        }     
    }  
}
@media screen and (max-width:800px){
    .open-log{
        .log-bg{
            height: 300px;
            width: 121%;
            .head{
                padding: 30px 11% 30px 55px;
            }
        }
        .log-label{
            padding: 20px 10px
        }
    }
}