@bgDeep: #011935;
@bgDeep2: #00343F;
@bgLight: #270010;
@bgLight2: #0e0006;
@textBg:#D0E9FF;

.log-container{
    position: relative;
    padding-bottom: 20px;
    width:100vw;
    overflow: hidden;
    embed{
        width: 100%;
    }
    .log-list{
        overflow-y: scroll;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 102;
        transition: transform 1s;
        embed{
            background: white;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        &.log-list-close{
            pointer-events: none;
            transform: translateY(-120vh);
        }
    }

}

.tmlog{    
    border: 1px solid #e8e8e8;
    border-bottom: none;
    background: white;
    padding: 0 10%;
    position: relative;
    h2{
        display: inline-block;
        background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 3px 3px;
        color: #000;
        text-decoration: none;
    }
    &:last-child{
        border-bottom: 1px solid #e8e8e8;
    }
    .log-tags-icon{
        padding: 20px;
        padding-top:50px;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height:100px;
        margin-right: 20px;
    }
    .log-label{
        display: inline-block;
        vertical-align: top;
        width:80%;
        padding:20px;
        border-radius: 20px;
        overflow: hidden;
        .log-time{
            span{
                margin-right: 20px;
                &:nth-child(1){
                    color:gray;
                }
                &:nth-child(2){
                    color:@bgLight;
                }
                &:nth-child(3){
                    i{
                        margin-right: 5px;
                    }
                    color: #ee0b69;
                }
                &:last-child{
                    float:right;
                    visibility: hidden;
                }
            }
        }
        h2{
            font-size: 26px;
            position: relative;
        }
        p{
            font-size: 18px;
            text-indent: 2rem;
        }
        &:hover{
            cursor: pointer;
            h2{
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23e20328' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                background-position: 0 100%;
                background-size: auto 7px;
                background-repeat: repeat-x;
                text-decoration: none;
            }
        }
    }
}

.open-log{
    width: 1000px;
    min-width: 320px;
    margin: auto;
    .log-bg{    
        background: center top;
        background-size: cover; 
        height: 400px;
        position: relative;
        margin: 0 -5% ;
        top: 0;
        margin-bottom: 80px;
        .head{
            color: white;
            position: absolute;
            top: 0;
            width: 100%;
            padding: 30px 5%;
            text-align: center;
            span{
                display: inline-block;
                vertical-align: top;
                text-align: center;
                font-size: 1.5rem;
                line-height: 40px;
                border-radius: 20px;
                &:first-child{
                    float: left;
                }
                &:last-child{
                    float: right;
                }
                &:hover{
                    cursor: pointer;
                    i{
                        background-image: linear-gradient(25deg, #24226d, #325b97, #3196c2, #00d5ef)
                    }
                }
                i{
                    background: rgba(172, 170, 170, 0.5);
                    padding: 10px 15px;
                    border-radius: 15px;
                }
            }
            embed{
                height: 40px;
                width: auto;
            }
        }
        .zhezhao{
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6)
        }
        .bottom{
            position: absolute;
            bottom: 110px;
            margin: 0 5%;
            color: white;
            font-size: 20px;
            i{
                font-size: 30px;
                color: white;
                background: rgba(172, 170, 170, 0.5);
                padding: 10px;
                vertical-align: middle;
                border-radius: 50%;
                &:hover{
                    cursor: pointer;
                }
                &.active{
                    color: #ee0b69;
                }
            }
        }
    }
    .log-title{
        margin: 30px 0;
       font-size: 36px;
       font-weight: 700;
       line-height: 36px;
       text-align: center;
    }
    img{
        max-width: 100%;
        margin: 30px 0;
    }

    .log-label{
        position: relative;
        transition: all .8s ease;
        top: -170px;
        padding: 20px 30px 40px 30px;
        background: white;
        border-radius: 15px;
        z-index: 100;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.65);
        pre{
            max-width: 100%;
            max-height: 100%;
            margin: 10px 0;
            padding: 15px;
            overflow: auto;
            background-color: #f1f2f3;
            border-radius: 3px;
            color: #666;
            font-family: monospace;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;
            white-space: pre-wrap;
        }
        .desc{
            padding: 20px;
            border-bottom: 1px solid #e8e8e8;
            font-weight: 700;
            font-size: 18px;
            img{
                width: 64px;
                height: 64px;
                display: inline-block;
                border-radius: 15px;
                margin: -10px 30px 0 0;
            }
            span{
                background: rgba(238, 132, 62, 0.5);
                padding: 2px 5px;
                border-radius: 10px;
            }
            ul{
                display: inline-block;
                list-style: none;
                position: relative;
                top: 12px;
            }
        }
    }

    .log-comment{
        transition: transform 1s;
        position: fixed;
        width: 100vw;
        background: #ffffff;
        height: 50vh;
        top: 50vh;
        left: 0;
        z-index: 102;
        border-top: 1px solid gainsboro;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        h2{
            padding: 10px 15px;
            text-align: center;
            .ant-input{
                display: inline-block;
                width: calc(~"100% - 80px");
            }
            i{
                display: inline-block;
                vertical-align: top;
                float: right;
                font-size: 32px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .guest{
            height: 30vh;
            text-align: center;
            img{
                width: 64px;
                margin: 0;
            }
            h3{
                padding: 10px;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
        .guest-no{
            min-height: 30vh;
            text-align: center;
            .ant-input{
                width: 90%;
                max-width: 600px;
            }
            .ant-avatar{
                margin: 10px 5px;
                border-radius: 0;
                &:hover{
                    border: 3px solid cornflowerblue;
                }
            }
            .avatars{
                margin: 10px 0;
            }
            img{
                margin: 0;
            }
        }
        .comment-wrap{
            margin: 0 18px;
            border: 1px solid gainsboro;
            padding: 5px 10px;
            img{
                margin: 0 10px 0 0;
                width: 32px;
            }
            span{
                vertical-align: top;
                display: block;
                time{
                    margin-left: 10px;
                }
                &:first-child{
                    font-weight: 700;
                    padding-right: 15px;
                    line-height: 16px;
                }
            }
        }
        .ant-tabs {
            .ant-tabs-left-content{
                padding-left: 0;
            }
            .ant-tabs-tabpane{
                min-height: 30vh; 
                max-height: calc(~"50vh - 84px");
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
    .comment-zhezhao{
        position: fixed;
        z-index: 101;
        background: rgba(0 , 0, 0, 0.3);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
    }

    .ant-back-top{
        text-align: center;
        z-index: 110;
        background: rgba(172, 170, 170, 0.5);
        border-radius: 15px;
        color: white;
        .log-back-up{
            padding-top: 10px;
            font-weight: 800;
        }
    }
    &.show-comm{
        position: fixed;
        left: calc(~"(100% - 1000px) / 2");
        .comment-zhezhao{
            display: block;
        }
    }
}

@media screen and (max-width:1100px) {
    .open-log{
        width: 90%;
        &.show-comm{
            left: 5%;
        }
    }
}
@media screen and (max-width:1000px) {
    .tmlog{
        width:100%;
        padding: 0;
        .log-tags-icon{
            display: none;
        }
        .log-label{
            padding:5%;
            width:100%;
            .log-time{
                span{
                    &:last-child{
                        visibility: visible;
                    }
                }
            }
        }     
    }  
}
@media screen and (max-width:800px){
    .open-log{
        .log-label{
            padding: 20px 10px;
            .desc{
                padding: 10px 5px;
                img{
                    margin-right: 0;
                }
            }
        }
        .log-comment{
            .ant-tabs{
                .ant-tabs-tab{
                    padding: 8px 8px 8px 12px;
                }
            }
            .ant-tabs-tab{
                width: 44px;
                overflow: hidden;
                font-size: 0;
                i{
                    font-size: 16px;
                }
            }
            .comment-wrap{
                span{
                    &:first-child{
                        font-size: 10px;
                    }
                }
            }
        }
       
    }
}